.nav{
  display: flex;
  justify-content: space-between;
  padding:10px;
  @include mq(medium){
    padding: 15px 50px;
  }
  @include mq(large){
    padding: 15px 175px;
  }
  &__logo{
    width:125px;
    align-self: center;
    @include mq(large){
      width:150px;
    }
  }
  &__btn{
    height: 30px;
    background-color: #fff;
    border:1px solid $primary-pink-color;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 0.25px $primary-pink-color;
    padding: 0px 15px;
    color: $primary-pink-color;
    font-size: 1.2rem;
    line-height: 30px;
    cursor: pointer;
    @include mq(large){
      font-size: 1.4rem;
    }
  }
}