$primary-pink-color: hsl(322, 100%, 66%);
$dark-font-color:hsl(192, 100%, 9%);
$light-font-color:hsl(207, 100%, 98%);

$headings-font-family:'Poppins', sans-serif;
$default-font-family:'Open Sans', sans-serif;