* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  max-width: 1024x;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .nav {
    padding: 15px 50px;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 30px 175px;
  }
}

.nav__logo {
  width: 125px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1024px) {
  .nav__logo {
    width: 150px;
  }
}

.nav__btn {
  height: 30px;
  background-color: #fff;
  border: 1px solid #ff52bf;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 1px 0.25px #ff52bf;
          box-shadow: 0px 0px 1px 0.25px #ff52bf;
  padding: 0px 15px;
  color: #ff52bf;
  font-size: 1.2rem;
  line-height: 30px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .nav__btn {
    font-size: 1.4rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
  padding: 0 10px;
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 3rem;
}

@media (min-width: 800px) {
  .header__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 4rem;
  }
}

.header__text {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  line-height: 2.3rem;
  font-size: 1.6rem;
  padding: 0 15px;
  margin-bottom: 50px;
  font-weight: 400;
}

@media (min-width: 800px) {
  .header__text {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .header__text {
    padding: 0px 250px;
  }
}

.header__btn {
  display: block;
  width: 70%;
  max-width: 350px;
  padding: 10px 0px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 1px #ddd;
          box-shadow: 0px 5px 10px 1px #ddd;
  background-color: #ff52bf;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header__btn {
    width: 300px;
    padding: 20px 0px;
  }
}

.header__screens {
  display: block;
  width: 90%;
  max-width: 700px;
  margin: 100px auto;
}

.header__cardsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .header__cardsWrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}

.cards__smallIcon {
  display: block;
  width: 30px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin: 5px auto;
}

@media (min-width: 800px) {
  .cards__smallIcon {
    width: 45px;
  }
}

.cards__stats {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
}

@media (min-width: 800px) {
  .cards__stats {
    font-size: 6rem;
  }
}

.cards__statsText {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  line-height: 2.3rem;
  font-size: 1.5rem;
  margin: 10px 0px;
}

@media (min-width: 800px) {
  .cards__statsText {
    font-size: 1.8rem;
  }
}

.growTogether {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5faff;
}

.growTogether:nth-child(2) {
  background-color: #fff;
  padding: 100px 0px;
}

.growTogether__img {
  display: block;
  width: 90%;
  margin: 0px auto;
  padding-top: 75px;
  max-width: 450px;
}

@media (min-width: 1024px) {
  .growTogether__img {
    width: 45vw;
  }
}

.growTogether__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
  font-size: 2.5rem;
  text-align: center;
  margin: 100px 0px 20px 0px;
}

@media (min-width: 800px) {
  .growTogether__title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .growTogether__title {
    text-align: start;
    padding: 0px 15px 10px 15px;
  }
}

.growTogether__text {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  line-height: 2.3rem;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 75px;
  padding: 0px 15px 75px 15px;
}

@media (min-width: 800px) {
  .growTogether__text {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .growTogether__text {
    text-align: start;
  }
}

.curves {
  background-color: #fff;
  width: 100%;
}

.getStart {
  padding: 75px 0px 200px 0px;
}

@media (min-width: 1024px) {
  .getStart {
    padding: 125px 0px;
  }
}

.getStart__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
  text-align: center;
  margin: 35px 50px;
  font-size: 2.5rem;
}

.getStart__btn {
  display: block;
  width: 70%;
  max-width: 350px;
  padding: 10px 0px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 1px #ddd;
          box-shadow: 0px 5px 10px 1px #ddd;
  background-color: #ff52bf;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  width: 60%;
  margin-bottom: 55px;
}

@media (min-width: 1024px) {
  .getStart__btn {
    height: 50px;
    width: 300px;
  }
}

.bodySection__wrapContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .bodySection__wrapContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .bodySection__wrapText {
    width: 45vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    max-width: 550px;
  }
}

@media (min-width: 1024px) {
  .growTogether:nth-child(odd) > .bodySection__wrapContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  .growTogether:nth-child(even) > .bodySection__wrapContent > .bodySection__wrapText > .growTogether__text {
    text-align: end;
  }
}

@media (min-width: 1024px) {
  .growTogether:nth-child(even) > .bodySection__wrapContent > .bodySection__wrapText > .growTogether__title {
    text-align: end;
  }
}

.footer {
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .footer {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
  color: #f5faff;
  padding: 55px 15px 10px 15px;
  text-transform: uppercase;
  font-size: 1.9rem;
}

@media (min-width: 800px) {
  .footer__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 1024px) {
  .footer__title {
    padding-top: 0;
  }
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  line-height: 2.3rem;
  color: #f5faff;
  padding: 10px 15px;
  font-size: 1.45rem;
  font-weight: 500;
  margin-bottom: 15px;
}

@media (min-width: 800px) {
  .footer__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .footer__text {
    width: 400px;
  }
}

.footer__contact {
  color: #f5faff;
}

.footer__logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto 0px 15px;
}

@media (min-width: 1024px) {
  .footer__logoWrap {
    margin: 0px auto 0px 15px;
  }
}

.footer__logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e;
  color: #f5faff;
  font-size: 3.5rem;
  margin-left: 7.5px;
  letter-spacing: 1px;
}

.footer__logo {
  display: block;
  width: 35px;
  height: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__contactWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 15px;
}

.footer__contact {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  line-height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5faff;
  font-size: 1.45rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 10px 0px;
}

@media (min-width: 800px) {
  .footer__contact {
    font-size: 1.6rem;
  }
}

.footer__contactImg {
  width: 20px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__socialMedia {
  padding: 45px 15px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__input {
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 25px 15px 15px 15px;
}

@media (min-width: 800px) {
  .footer__input {
    margin: 0;
    width: 350px;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .footer__input {
    margin: 0;
    width: 350px;
    margin-right: 30px;
    margin-left: 15px;
  }
}

.footer__btn {
  display: block;
  width: 70%;
  max-width: 350px;
  padding: 10px 0px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 1px #ddd;
          box-shadow: 0px 5px 10px 1px #ddd;
  background-color: #ff52bf;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  width: 40%;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 15px 80px auto;
}

@media (min-width: 1024px) {
  .footer__btn {
    margin: 0;
    width: 160px;
  }
}

.fab {
  color: #f5faff;
  font-size: 30px;
  margin-right: 15px;
}

@media (min-width: 1024px) {
  .footer__newsletterWrap {
    width: 49vw;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__huddlesWrap {
    width: 49vw;
    padding: 20px;
    padding-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */